@page "/spice"

@using DataLibrary
@inject IDataAccess _dataAccess

<h3>Spice</h3>

@code {



    protected override async Task OnInitializedAsync()
    {
        //await _dataAccess.LoadData();
    }
}
